<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="script"></th:block>

<h3>공지 수정/삭제</h3>
<div layout:fragment="content">

  <div class="col-md-12">
    <div class="col-md-4">
      <form th:each="notice: ${notice}">
        <div class="form-group">
          <label for="title">글 번호</label>
          <input type="text" class="form-control" id="id" th:value="${notice.noticeIdx}" readonly>
        </div>
        <div class="form-group">
          <label for="title">제목</label>
          <input type="text" class="form-control" id="title" th:value="${notice.title}">
        </div>
        <div class="form-group">
          <label for="memberName"> 작성자 </label>
          <input type="text" class="form-control" id="memberName" th:value="${notice.memberName}"
                 readonly>
        </div>
        <div class="form-group">
          <label for="content"> 내용 </label>
          <textarea class="form-control" id="content" th:field="${notice.content}"></textarea>
        </div>
        <div class="form-group">
          <label for="createDate"> 작성일 </label>
          <input type="text" class="form-control" id="createDate" th:value="${notice.createdDate}"
                 disabled>
        </div>
        <div class="form-group">
          <label for="modifiedDate"> 최종수정일 </label>
          <input type="text" class="form-control" id="modifiedDate"
                 th:value="${notice.modifiedDate}"
                 disabled>
        </div>
      </form>
      <a href="/" role="button" class="btn btn-secondary">취소</a>
      <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
      <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
    </div>
  </div>

</div>
</html>

